name: Open-CE XGBoost Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: goanpeca/setup-miniconda@v1
        with:
          auto-update-conda: true
          python-version: "3.7"
      - name: Install dependencies
        shell: bash -l {0}
        run: |
          conda install -y conda-build
      - name: Build XGBoost
        shell: bash -l {0}
        run: |
          ./open-ce/open-ce build_env envs/xgboost-env.yaml \
                            --python_versions 3.7 \
                            --build_types cpu
